<div ng-controller="Yuzu.Delivery.UmbracoImportViewModel.ContentDialog as vm">

    <umb-editor-view>

        <div class="umb-editor-header">
            <h4>Yuzu Content Import</h4>
            <div>
                <span ng-if="vm.dialogData.property"><strong>{{vm.dialogData.property}}</strong> in </span>
                <strong>{{vm.dialogData.viewmodel}}</strong> to <strong>{{vm.dialogData.documentType}}</strong>
            </div>
        </div>

        <umb-editor-container>


            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="file">
                        Import from this file
                    </label>

                    <select ng-model="vm.toImport.filename" class="input-block-level">
                        <option ng-repeat="content in vm.contentFiles" ng-selected="content == vm.toImport.file" value="{{content.filename}}">{{content.filename}}</option>
                    </select>
                </div>
            </div>

            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" style="{{ vm.invalidForm ? 'color: red;' : 'color: initial;' }}">
                        Import to this item
                    </label>

                    <yuzu-content-import-picker settings="vm.contentEditorSettings" value="vm.toImport.content"></yuzu-content-import-picker>
                </div>
            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="success"
                            label-key="general_submit"
                            action="vm.import()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>
