<div class="yuzu-import-dialog umbracoDialog" ng-controller="Yuzu.Delivery.UmbracoImportViewModel.ContentDialog as vm">

    <form name="contentImportForm" no-validate val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="'Yuzu Content Import'"
                               name-locked="true"
                               hide-alias="true"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                <umb-load-indicator ng-if="vm.loading">
                </umb-load-indicator>

                <div class="umb-pane" ng-if="!vm.loading">

                    <umb-box>
                        <umb-box-content>
                            <span ng-if="vm.dialogData.property"><strong>{{vm.dialogData.property}}</strong> in </span>
                            <strong>{{vm.dialogData.viewmodel}}</strong> to <strong>{{vm.dialogData.documentTypeName}}</strong>
                        </umb-box-content>
                    </umb-box>

                    <umb-box>
                        <umb-box-content>

                            <umb-control-group label="Import this json" required="true">
                                <select name="filename" ng-model="vm.toImport.filename" class="umb-textstring input-block-level" required >
                                    <option ng-repeat="content in vm.contentFiles" ng-selected="content == vm.toImport.file" value="{{content.filename}}">{{content.filename}}</option>
                                </select>

                                <span ng-messages="contentImportForm.filename.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
                                </span>
                            </umb-control-group>

                            <umb-control-group label="Import to this item" required="true">
                                <yuzu-content-import-picker settings="vm.contentEditorSettings" value="vm.toImport.content"></yuzu-content-import-picker>

                                <span ng-messages="contentImportForm.content.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
                                </span>
                            </umb-control-group>

                        </umb-box-content>
                    </umb-box>

                </div>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                    <umb-button type="button"
                                button-style="success"
                                label-key="general_submit"
                                action="vm.submit(contentImportForm)"
                                state="vm.buttonState"
                                disabled="vm.loading">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>

    </form>

</div>
