<div name="ABCatalogContentListForm" class="yuzu-import" ng-controller="Yuzu.Delivery.UmbracoImportViewModel.List as vm">

    <umb-box style="min-height: 78vh;">

        <umb-box-content>

            <div ng-if="vm.isLoading" class="yuzu-import__info-page">
                <img class="yuzu-import__info-page__logo" src="/App_Plugins/YuzuDelivery.Umbraco.Import/assets/yuzu.svg" />
                <h3>Yuzu Delivery Umbraco Import</h3>
                <p>Loading... please wait</p>
            </div>

            <div ng-if="!vm.isActive && !vm.isLoading" class="yuzu-import__info-page">
                <img class="yuzu-import__info-page__logo" src="/App_Plugins/YuzuDelivery.Umbraco.Import/assets/yuzu.svg" />
                <h3>Yuzu Delivery Import is not active</h3>
                <p><strong>To activate</strong>: web.config compilation should be set to debug and Yuzu Delivery Import config setting of IsActive should be true</p>
            </div>

            <div ng-if="vm.isActive && vm.licenseStatus == 0" class="yuzu-import__info-page">
                <img class="yuzu-import__info-page__logo" src="/App_Plugins/YuzuDelivery.Umbraco.Import/assets/yuzu.svg" />
                <h3>Start using Yuzu Delivery Umbraco Import</h3>
                <p>Get your trial license or active an existing license</p>
                <button class="btn btn-success" ng-click="vm.openLicenseDialog()" type="button">
                    <span>Start Trial</span>
                </button>
            </div>

            <div ng-if="vm.isActive && vm.licenseStatus == 3" class="yuzu-import__info-page">
                <img class="yuzu-import__info-page__logo" src="/App_Plugins/YuzuDelivery.Umbraco.Import/assets/yuzu.svg" />
                <h3>Yuzu Delivery Umbraco Import license expired</h3>
                <p>To continue using this software you must have an active license</br> more details at <a href="http://balanced.dev/yuzu/home">http://balanced.dev</a></p>
                <button class="btn btn-success" ng-click="vm.openLicenseDialog()" type="button">
                    <span>Activate</span>
                </button>
            </div>

            <div class="yuzu-import-header">
                <div class="yuzu-import-breadbrumbs" ng-if="vm.breadcrumbs.length > 0">
                    <span class="yuzu-import-breadbrumb"><a href="" ng-click="vm.returnToListing()"><i class="icon-home"></i></a></span>
                    <span ng-repeat="breadcrumb in vm.breadcrumbs" class="yuzu-import-breadbrumb">
                        <a href="" ng-click="vm.editItem(breadcrumb)" ng-if="breadcrumb != vm.item.viewmodel">
                            {{breadcrumb}}
                        </a>
                        <a ng-if="breadcrumb == vm.item.viewmodel" ng-click="vm.openSettingsDialog(vm.item)">
                            <i class="icon-settings"></i>
                            <strong>{{breadcrumb}}</strong>
                        </a>
                    </span>
                </div>
                <div class="yuzu-import-vm-document-type" ng-if="vm.propertyGroups">
                    <span ng-if="vm.item.documentTypeName">
                        {{vm.item.documentTypeName}}
                        <div><small>({{vm.item.documentTypeAlias}})</small></div>
                    </span>
                    <span ng-if="!vm.item.documentTypeName">
                        Unmapped
                    </span>
                </div>
            </div>

            <a href ng-click="vm.openLoggingDialog()" ng-if="vm.items && !vm.propertyGroups && !vm.isLoading">Logging Links</a>

            <div class="umb-table-condensed" ng-if="vm.items && !vm.propertyGroups && !vm.isLoading">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed">
                            Yuzu Viewmodel
                        </div>
                        <div class="umb-table-cell mapped">
                            Mapped
                        </div>
                        <div class="umb-table-cell">
                            Umbraco DocumentType
                        </div>
                        <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 85px;">

                        </div>
                        <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 85px;">

                        </div>
                    </div>
                </div>
                <div class="umb-table-body">
                    <div class="umb-table-row" ng-repeat="item in vm.items">
                        <div class="umb-table-cell not-fixed">
                            <a href ng-click="vm.editItem(item.viewmodel)">
                                {{item.viewmodel}}
                            </a>
                        </div>
                        <div class="umb-table-cell mapped">
                            <i ng-if="item.allMapped" class="icon icon-check color-green"></i>
                            <i ng-if="!item.allMapped" class="icon icon-delete color-red"></i>
                        </div>
                        <div class="umb-table-cell">
                            <input type="text" ng-model="item.documentTypeName" />
                            <div class="alias-label">{{item.documentTypeAlias}}</div>
                        </div>
                        <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 85px">
                            <umb-button type="button"
                                        button-style="success"
                                        label="Update"
                                        action="vm.changeDocumentType(item)"
                                        state="vm.buttonState.update[item.viewmodel]"
                                        disabled="vm.isLoading">
                        </div>
                        <div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 85px;">
                            <a class="btn" ng-if="item.isPage && item.allMapped" ng-click="vm.openContentDialog(item)">
                                <span>Content</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-table-condensed" ng-if="vm.propertyGroups">
                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell not-fixed">
                            Yuzu Property Type
                        </div>
                        <div class="umb-table-cell">
                            Yuzu Property Name
                        </div>
                        <div class="umb-table-cell mapped">
                            Mapped
                        </div>
                        <div class="umb-table-cell">
                            Umbraco Property Name
                        </div>
                        <div class="umb-table-cell">
                            Umbraco Property Type
                        </div>
                        <div class="umb-table-cell"></div>
                    </div>
                </div>
                <div ng-repeat="group in vm.propertyGroups">
                    <h6 class="product-group">Group : {{group.name}}</h6>
                    <div class="umb-table-body">
                        <div class="umb-table-row" ng-repeat="property in group.properties">
                            <div class="umb-table-cell block-types not-fixed">

                                <span ng-if="property.config.isList">List of </span>
                                <a href ng-if="property.config.isViewModel" ng-click="vm.editItem(property.config.typeName)">
                                    <strong>{{property.config.typeName}}</strong>
                                </a>
                                <span ng-if="!property.config.isViewModel && !property.config.isEnum">
                                    {{property.config.typeName}}
                                </span>

                                <div ng-if="property.config.allowedTypes.length > 0">
                                    <div ng-repeat="type in property.config.allowedTypes">
                                        <a href ng-click="vm.editItem(type)">
                                            <strong>{{type}}</strong><span ng-if="!$last">,</span>
                                        </a>
                                    </div>
                                </div>

                                <div ng-if="property.config.isEnum">
                                    Enum:
                                    <span ng-repeat="value in property.config.allowedValues">
                                        <strong>{{value}}</strong><span ng-if="!$last">,</span>
                                    </span>
                                </div>

                            </div>
                            <div class="umb-table-cell property-names">
                                <div>{{property.viewmodelPropertyName}}</div>
                                <div ng-if="property.isMerged">
                                    <a href ng-click="vm.editItem(property.mergedViewmodelName)">
                                        <strong><small>{{property.mergedViewmodelName}}</small></strong>
                                    </a>
                                </div>
                            </div>
                            <div class="umb-table-cell mapped">
                                <i ng-if="property.isMapped" class="icon icon-check color-green"></i>
                                <i ng-if="!property.isMapped" class="icon icon-delete color-red"></i>
                            </div>
                            <div class="umb-table-cell">
                                <input type="text" ng-model="property.contentPropertyTypeName" />
                                <div class="alias-label">{{property.ContentPropertyTypeAlias}}</div>
                            </div>
                            <div class="umb-table-cell">
                                <select ng-model="property.contentDatatypeDefinitionId">
                                    <option ng-repeat="option in vm.types" ng-selected="property.contentDatatypeDefinitionId == option.id" ng-value="{{option.id}}">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="umb-table-cell">
                                <umb-button type="button"
                                            ng-if="!property.isMerged"
                                            button-style="success"
                                            label="Update"
                                            action="vm.changeProperty(property)"
                                            state="vm.buttonState.update[property.viewmodelPropertyName]"
                                            disabled="vm.isLoading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center" ng-if="vm.items && !vm.propertyGroups && !vm.isLoading">
                <!-- Pagination -->
                <umb-pagination ng-if="vm.page.totalPages"
                                page-number="vm.page.pageNumber"
                                total-pages="vm.page.totalPages"
                                on-next="vm.nextPage"
                                on-prev="vm.prevPage"
                                on-go-to-page="vm.goToPage">
                </umb-pagination>
            </div>

        </umb-box-content>
    </umb-box>


    <umb-editor-footer style="left:0;" ng-if="vm.isActive">

        <umb-editor-footer-content-left ng-if="vm.licenseStatus == 1 || vm.licenseStatus == 2">
            <a href ng-click="vm.openLicenseDialog()">{{vm.licenseMessage}}</a>
        </umb-editor-footer-content-left>

        <umb-editor-footer-content-right ng-if="vm.propertyGroups">

            <button class="btn" ng-click="vm.returnToListing()"
                    type="button">
                <span>Return to list</span>
            </button>

            <umb-button type="button"
                        button-style="success"
                        label="Refresh"
                        action="vm.editItem(vm.item.viewmodel)"
                        state="vm.buttonState.refresh"
                        disabled="vm.isLoading" />

            <umb-button type="button"
                        button-style="success"
                        label="Map All Properties"
                        action="vm.changeDocumentTypeLocal()"
                        state="vm.buttonState.updateAll"
                        disabled="vm.isLoading" />

        </umb-editor-footer-content-right>

        <umb-editor-footer-content-right ng-if="!vm.propertyGroups">

            <umb-button type="button"
                        button-style="success"
                        label="Refresh"
                        action="vm.refreshData()"
                        state="vm.buttonState.refresh"
                        disabled="vm.isLoading" />

            <umb-button type="button"
                        button-style="success"
                        label="Map All Viewmodels"
                        action="vm.changeDocumentTypes($event)"
                        state="vm.buttonState.updateAll"
                        disabled="vm.isLoading" />

        </umb-editor-footer-content-right>

    </umb-editor-footer>

    <umb-overlay 
        ng-if="vm.ysodOverlay.show"
        model="vm.ysodOverlay" 
        position="center"
        view="vm.ysodOverlay.view">
    </umb-overlay>

</div>