
    .yuzu-import__info-page {
        text-align: center;
        height: 73vh;
    }

    .yuzu-import__info-page__logo {
        height: 50vh;
    }

    .yuzu-import-header {
        display: flex;
        justify-content: space-between;
    }

    .yuzu-import-breadbrumbs {
        margin-bottom: 30px;
    }

    .yuzu-import-breadbrumbs .yuzu-import-breadbrumb {
        background: #f6f4f4;
        padding: 15px;
        margin: 0 5px;
        border-radius: 15px;
    }

    .yuzu-import-breadbrumbs .yuzu-import-breadbrumb i {
        position: relative;
        top: 3px;
    }

    .yuzu-import-vm-document-type {
        position: relative;
    }

    .yuzu-import h3 {
        margin-bottom: 50px;
    }

    .yuzu-import .product-group {
        text-align: center;
        background: #f6f4f4;
        color: #817f85;
        margin: 0px;
        line-height: 40px;
        padding-right: 132px;
    }

    .yuzu-import .alias-label {
        position: absolute;
        bottom: -3px;
        width: 206px;
        text-align: right;
    }

    .yuzu-import .umb-table-cell:last-of-type {
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        flex-direction: row-reverse;
    }

    .yuzu-import .umb-table-cell {
        justify-content: center;
    }

    .yuzu-import .umb-table-cell select {
        margin-bottom: 0px;
    }

    .yuzu-import .umb-table-cell.mapped {
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }

    .yuzu-import .umb-table-cell.block-types {
        display: block;
    }

    .yuzu-import .umb-table-cell.property-names {
        display: block;
        text-align: center;
    }

    .yuzu-import-dialog.umbracoDialog .umb-pane {
        margin: 20px !important;
    }
