<div class="yuzu-import-dialog umbracoDialog" ng-controller="Yuzu.Delivery.UmbracoImportViewModel.LicenseDialog as vm">

    <form name="createLicenseForm" no-validate val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="'Yuzu Integrate Licensing'"
                name-locked="true"
                hide-alias="true"
                hide-icon="true"
                hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                <umb-load-indicator ng-if="vm.loading">
                </umb-load-indicator>

                <div class="umb-pane" ng-if="!vm.loading">
                    <umb-box ng-if="vm.licenseStatus == 0">
                        <umb-box-header title="{{vm.licenseMessage}}"></umb-box-header>
                        <umb-box-content>
                            <p>Sign up at <a target="_blank" href="http://balanced.dev/account/sign-up/"><strong>Balanced Dev</strong></a> for an activation key</p>
                            <p>or use a full licence key</p>
                            <p>&nbsp;</p>
                            <umb-control-group label="Trial or License Activation Key" required="true">
                                <input type="text" class="umb-textstring textstring input-block-level" name="activationKey" ng-model="vm.data.activationKey" required />
                                <span ng-messages="createLicenseForm.activationKey.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
                                </span>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>

                    <umb-box ng-if="vm.licenseStatus == 2">
                        <umb-box-header title="License details"></umb-box-header>
                        <umb-box-content>
                            <umb-control-group label="Name">
                                {{vm.licenseName}}
                            </umb-control-group>
                            <umb-control-group label="Email">
                                {{vm.licenseEmail}}
                            </umb-control-group>
                            <umb-control-group label="Key">
                                {{vm.licenseKey}}
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>

                    <umb-box ng-if="vm.licenseStatus == 1 || vm.licenseStatus == 3">
                        <umb-box-content>
                            <p>Activate full licence key</p>
                            <p>Login or sign up at <a target="_blank" href="https://balanced.dev/account/login/"><strong>Balanced Dev</strong></a></p>
                            <p>&nbsp;</p>
                            <umb-control-group label="Activation Key" required="true">
                                <input type="text" class="umb-textstring textstring input-block-level" name="activationKey" ng-model="vm.data.activationKey" required />
                                <span ng-messages="createLicenseForm.activationKey.$error" show-validation-on-submit>
                                    <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
                                </span>
                            </umb-control-group>
                        </umb-box-content>
                    </umb-box>
                </div>

            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                    <umb-button ng-if="vm.licenseStatus != 2" type="button"
                                button-style="success"
                                state="vm.buttonState"
                                label="Activate"
                                action="vm.submit(createLicenseForm)">
                    </umb-button>
                    <umb-button ng-if="vm.licenseStatus == 2" type="button"
                                button-style="danger"
                                state="vm.buttonState"
                                label="Deactivate"
                                action="vm.deactivateLicense()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>

        </umb-editor-view>

    </form>

</div>
