<div class="yuzu-import-dialog umbracoDialog" ng-controller="Yuzu.Delivery.UmbracoImportViewModel.ToolsDialog as vm">

    <form name="storeContactAsForm" no-validate val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="'Mappings Tools'"
                               name-locked="true"
                               hide-alias="true"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                <umb-load-indicator ng-if="vm.loading">
                </umb-load-indicator>

                <div class="umb-pane" ng-if="!vm.loading">

                    <umb-box>
                        <umb-box-content>

                            <p>
                                <umb-button type="button"
                                            label="View all manual mappings"
                                            button-style="link"
                                            action="vm.openManualMappingAllDialog()">
                                </umb-button>
                            </p>

                            <p>
                                <umb-button type="button"
                                            label="Add mapping groups"
                                            button-style="link"
                                            action="vm.openAddGroupsDialog()">
                                </umb-button>
                            </p>

                            <p>
                                <umb-button type="button"
                                            label="Logging"
                                            button-style="link"
                                            action="vm.openLoggingDialog()">
                                </umb-button>
                            </p>

                        </umb-box-content>
                    </umb-box>

                </div>

            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>

        </umb-editor-view>

    </form>

</div>
