<div ng-controller="Yuzu.Delivery.UmbracoImportViewModel.SettingsDialog as vm">

    <umb-editor-view>

        <div class="umb-editor-header">
            <h4>Settings</h4>
            <div>
                {{vm.dialogData.viewmodel}}
            </div>
        </div>

        <umb-editor-container>


            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="file">
                        Store Content As
                    </label>

                    <select ng-model="vm.storeContentAs.type" ng-change="vm.change()" class="input-block-level">
                        <option ng-value="0">Inline</option>
                        <option ng-value="1">Global</option>
                        <option ng-value="2">New Group</option>
                    </select>
                    <p ng-if="vm.storeContentAs.type == 0">Nested content to store child content as a property in the parent</p>
                    <p ng-if="vm.storeContentAs.type == 1">Content area and items in the tree and content picker in the parent</p>
                    <p ng-if="vm.storeContentAs.type == 2">New group in the parent, prefixes properties with the group name</p>
                </div>
            </div>

            <hr />

            <div class="umb-control-group" ng-if="vm.storeContentAs.type == 1">
                <div class="umb-el-wrap">
                    <label class="control-label">
                        Parent Node
                    </label>

                    <yuzu-content-import-picker settings="vm.contentEditorSettings" value="vm.storeContentAs.parentContentId"></yuzu-content-import-picker>
                </div>

                <div class="umb-el-wrap">
                    <label class="control-label">
                        Add Area Node
                    </label>

                    <umb-toggle checked="vm.storeContentAs.addAreaNode" on-click="vm.toggle()"></umb-toggle>
                </div>

                <div class="umb-el-wrap">
                    <label class="control-label" for="file">
                        Primary Property Name
                    </label>

                    <input type="text" ng-model="vm.storeContentAs.primaryPropertyName" />
                </div>

                primaryPropertyName
            </div>

            <div class="umb-control-group" ng-if="vm.storeContentAs.type == 2">
                <div class="umb-el-wrap">
                    <label class="control-label" for="file">
                        Group Name
                    </label>

                    <input type="text" ng-model="vm.storeContentAs.groupName" />
                </div>
            </div>


        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="success"
                            label-key="general_submit"
                            action="vm.submit(vm.storeContentAs)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>
